@import "tailwindcss";
@import "./theme.css";

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-gutter:auto;
}

body {
  background-color: var(--color-white);
  color: var(--color-text-primary);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee 40s linear infinite;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}
